/* Overall Container */
.home {
  display: flex;
  flex-direction: column; /* Change to column layout */
  padding: 20px;
}

/* Print Logs Section */
.prints-section {
  margin-bottom: 20px; /* Add spacing below the print logs section */
}

.prints-container {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Set maximum height for scrolling (adjust as needed) */
  margin-bottom: 20px; /* Add spacing below the user list */
  border: 1px solid #ddd;
  border-radius: 8px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.stats-section h2 {
  margin-bottom: 10px; 
  text-align: center; /* Center the title */
}

/* Stats Section */
.stats-section {
  display: flex; /* Use flexbox for charts */
  gap: 20px;    /* Add space between charts */
}
  
  /* Individual chart container */
  .recharts-wrapper { /* Target the Recharts chart container */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px; /* Add padding around the chart */
  }
  
  /* Error message styling */
  .error-message {
    color: red;
    font-weight: bold;
  }
  